<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <div class="container">
        <h1>Your Final Score</h1>
        <h4> <%= score %></h4>
        <form action="/" method="get">
            <input type="submit" value="Restart" class="sub">
        </form>
    </div>
</body>
</html>